# UNITY
# -----
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
/[Bb]uild/
/[Pp]rojectSettings/EditorSettings.asset
[Bb]uilds/
ProfilerReports/
Logs/
UserSettings/

# Visual Studio cache directory
.vs/

/*.csproj
/*.sln.DotSettings

*.unityproj
/*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.psb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Rider IDE
.idea
*.userproperties

**/.DS_Store

Assets/Temp/
Assets/Temp.meta
